<header class="text-white px-6 py-3 flex items-center justify-between max-h-24">
  <div class="flex flex-row">
    <div class="flex items-center gap-2 cursor-pointer" routerLink="/map">
      <img src="/assets/logoWayfarer.png" alt="Wayfarer" class="h-24">
    </div>
    <nav class="flex items-center gap-6">
      <a
        matFab
        extended
        routerLink="/map"
        routerLinkActive="font-semibold underline"
        [routerLinkActiveOptions]="{ exact: true }"
        class="text-white hover:opacity-80 transition-opacity"
      >
        <mat-icon>map</mat-icon>
        Carte
      </a>
      <a
        matFab
        extended
        routerLink="/search"
        routerLinkActive="font-semibold underline"
        class="text-white hover:opacity-80 transition-opacity"
      >
        <mat-icon>search</mat-icon>
        Recherche
      </a>
      @if (this.isAuthenticated()) {
        <a
          matFab
          extended
          routerLink="/preparation"
          routerLinkActive="font-semibold underline"
          class="text-white hover:opacity-80 transition-opacity"
        >
          <mat-icon>backpack</mat-icon>
          Preparation
        </a>
      }
    </nav>
  </div>
  <div class="flex gap-2">
    @if (isAuthenticated()) {
      <a
        mat-raised-button
        routerLink="/profile"
        routerLinkActive="font-semibold underline"
      >
        Mon profile
      </a>
      <button
        mat-raised-button
        type="button"
        (click)="onLogout()"
      >
        Déconnexion
      </button>
    } @else {
      <a
        matFab
        extended
        routerLink="/login"
        routerLinkActive="font-semibold underline"
      >
        Connexion
      </a>
    }
  </div>
</header>
